
    body {
        font-family: Arial, sans-serif;
        background-color: #ffcbcb;
        margin: 0;
        padding: 0;
    }

    header {
        background-color: #884848;
        color: #fff;
        padding: 10px 0;
        text-align: center;
    }

    header h1 {
        font-size: 42px;
    }

    .logo {
        max-width: 100px;
    }

    .centralizar-imagem {
        margin-top: auto;
        margin-bottom: auto;
    }   

    nav ul {
        list-style: none;
        padding: 0;
    }

    nav li {
        display: inline;
        margin: 0 10px;
    }

    nav a {
        text-decoration: none;
        color: #ffffff;
        font-weight: bold;
    }

    section {
        padding: 20px;
        background-color: #fff6f6;
        margin: 10px;
    }

    form {
        margin: 10px;
        padding: 20px;
        background-color: #ffe4e4;
    }

    label {
        display: block;
        margin: 10px 0;
    }

    input[type="text"],
    input[type="number"],
    input[type="email"],
    input[type="tel"],
    input[type="file"] {
        width: 100%;
        padding: 10px;
        margin: 5px 0;
        border: 1px solid #887373;
        border-radius: 5px;
    }

    input[type="submit"] {
        background-color: #a8a8a8;
        color: #fff;
        padding: 10px 20px;
        border: none;
        border-radius: 5px;
        cursor: pointer;
    }

    input[type="submit"]:hover {
        background-color: #c4c4c4;
    }
